@import "tailwindcss";

@theme {
  --color-rootstock-orange: #FF9100;
  --color-rootstock-dark: #1D1D1B;
  --color-rootstock-light: #F5F5F5;
}

@layer base {
  body {
    @apply bg-rootstock-dark text-rootstock-light antialiased font-sans m-0 p-0;
  }

  button {
    @apply cursor-pointer;
  }
}